.env
caravel/*
*.log
*runs*
processing_element/sims/*
ic_dec
.jupyter*
.venv
!.gitignore
processing_element/openlane/from multiprocessing.resource_tracker import main;main(13)
processing_element/openlane/from multiprocessing.resource_tracker import main;main(28)
